<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>649618738464-ihmn4r1fhbnneilsdapsesbqtbpq30pi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649618738464-ihmn4r1fhbnneilsdapsesbqtbpq30pi</string>
	<key>API_KEY</key>
	<string>AIzaSyB-vPhC6buc8O8va9-cHsdP46bLB5QVZ-M</string>
	<key>GCM_SENDER_ID</key>
	<string>649618738464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shinDev.pokefinder</string>
	<key>PROJECT_ID</key>
	<string>pokefinder-ab57c</string>
	<key>STORAGE_BUCKET</key>
	<string>pokefinder-ab57c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:649618738464:ios:0bf08fc316b6bec1</string>
	<key>DATABASE_URL</key>
	<string>https://pokefinder-ab57c.firebaseio.com</string>
</dict>
</plist>